<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="static/fonts/stylesheet.css">
    <link rel="stylesheet" href="static/styles/style.css">

    <title>BoogieSpaceTV</title>
  </head>
  <body>
    <section id="global-scoreboard">
        <h1 class="section-title">//Tableau des scores</h1>
        <div class="scoreboard-item-container" id="score-1">
            <img class="hex-spawn" src="static/img/leaderboard_frames/first_place_hexa.png">
            <span class="place-number place-number-spawn">1</span>
            <div class="line-container">
                <img class="line-spawn" src="static/img/leaderboard_frames/first_place_line.png">
                <div class="name-container">
                    <span class="name name-spawn"><span style="font-weight:bold">Nom</span> Prenom</span>
                </div>
            </div>
        </div>
        <div class="scoreboard-item-container" id="score-2">
            <img class="hex-spawn" src="static/img/leaderboard_frames/second_place_hexa.png">
            <span class="place-number place-number-spawn">2</span>
            <div class="line-container">
                <img class="line-spawn" src="static/img/leaderboard_frames/second_place_line.png">
                <div class="name-container place-line-container-medium">
                    <span class="name name-spawn place-line-name-medium"><span style="font-weight:bold">Nom</span> Prenom</span>
                </div>
            </div>
        </div>
        <div class="scoreboard-item-container" id="score-3">
            <img class="hex-spawn" src="static/img/leaderboard_frames/third_place_hexa.png">
            <span class="place-number place-number-spawn">3</span>
            <div class="line-container">
                <img class="line-spawn" src="static/img/leaderboard_frames/third_place_line.png">
                <div class="name-container place-line-container-medium">
                    <span class="name name-spawn place-line-name-medium"><span style="font-weight:bold">Nom</span> Prenom</span>
                </div>
            </div>
        </div>
        <div class="scoreboard-item-container" id="score-4">
            <img class="hex-spawn" src="static/img/leaderboard_frames/fourth_place_hexa.png">
            <span class="place-number place-number-spawn place-number-small">4</span>
            <div class="line-container">
                <img class="line-spawn" src="static/img/leaderboard_frames/fourth_place_line.png">
                <div class="name-container place-line-container-small">
                    <span class="name name-spawn place-line-name-small"><span style="font-weight:bold">Nom</span> Prenom</span>
                </div>
            </div>
        </div>
        <div class="scoreboard-item-container" id="score-5">
            <img class="hex-spawn" src="static/img/leaderboard_frames/fourth_place_hexa.png">
            <span class="place-number place-number-spawn place-number-small">5</span>
            <div class="line-container">
                <img class="line-spawn" src="static/img/leaderboard_frames/fourth_place_line.png">
                <div class="name-container place-line-container-small">
                    <span class="name name-spawn place-line-name-small"><span style="font-weight:bold">Nom</span> Prenom</span>
                </div>
            </div>
        </div>
        <div class="scoreboard-item-container" id="score-6">
            <img class="hex-spawn" src="static/img/leaderboard_frames/fourth_place_hexa.png">
            <span class="place-number place-number-spawn place-number-small">6</span>
            <div class="line-container">
                <img class="line-spawn" src="static/img/leaderboard_frames/fourth_place_line.png">
                <div class="name-container place-line-container-small">
                    <span class="name name-spawn place-line-name-small"><span style="font-weight:bold">Nom</span> Prenom</span>
                </div>
            </div>
        </div>
        <div class="scoreboard-item-container" id="score-7">
            <img class="hex-spawn" src="static/img/leaderboard_frames/fourth_place_hexa.png">
            <span class="place-number place-number-spawn place-number-small">7</span>
            <div class="line-container">
                <img class="line-spawn" src="static/img/leaderboard_frames/fourth_place_line.png">
                <div class="name-container place-line-container-small">
                    <span class="name name-spawn place-line-name-small"><span style="font-weight:bold">Nom</span> Prenom</span>
                </div>
            </div>
        </div>
        <div class="scoreboard-item-container" id="score-8">
            <img class="hex-spawn" src="static/img/leaderboard_frames/fourth_place_hexa.png">
            <span class="place-number place-number-spawn place-number-small">8</span>
            <div class="line-container">
                <img class="line-spawn" src="static/img/leaderboard_frames/fourth_place_line.png">
                <div class="name-container place-line-container-small">
                    <span class="name name-spawn place-line-name-small"><span style="font-weight:bold">Nom</span> Prenom</span>
                </div>
            </div>
        </div>
        <div class="scoreboard-item-container" id="score-9">
            <img class="hex-spawn" src="static/img/leaderboard_frames/fourth_place_hexa.png">
            <span class="place-number place-number-spawn place-number-small">9</span>
            <div class="line-container">
                <img class="line-spawn" src="static/img/leaderboard_frames/fourth_place_line.png">
                <div class="name-container place-line-container-small">
                    <span class="name name-spawn place-line-name-small"><span style="font-weight:bold">Nom</span> Prenom</span>
                </div>
            </div>
        </div>
    </section>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="static/socket.io.js"></script>
    <script src="static/main.js"></script>
  </body>
</html>